[submodule "lib/updater"]
	path = lib/updater
	url = git@git.gaarai.com:updater
[submodule "bundled-addons/exchange-addon-recurring-payments"]
	path = bundled-addons/exchange-addon-recurring-payments
	url = git@git.gaarai.com:exchange-addon-recurring-payments
